:root {
    --cor0: #c8c5eb;
    --cor2: #8384e1;
    --cor3: #483ddc;
    --cor1: #372fa8;
    --cor4: #1b1a5c;
    --cor5: #0b063d;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--cor5);
    justify-content: space-around;
    position: fixed;
    width: 100vw;

}

a {
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: .9s;
    color: var(--cor0);
    background-color: var(--cor5);
    list-style: none;
}

a:hover {
    color: var(--cor5);
    background-color: var(--cor0);
    padding: 10px;
    cursor: pointer;
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    font-family: var(--fonte-destaque);
    color: var(--cor3);
    min-width: 150px;
    text-align: center;
    padding-top: 30px;
}

header>h1 {
    color: var(--cor3);
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.534);

}

header>p {
    font-family: var(--fonte-padrao);
    font-size: 1, 2em;
    color: #ffffff;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 30px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.342);
}



main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor0);
    color: var(--cor4);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    padding-top: 50px;

}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

main>p {
    margin: 15px 0px;
    
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--cor5);

}

main a:hover {
    text-decoration: underline;
    background-color: var(--cor1);
    border-radius: 7px;
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

article {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor0);
    color: var(--cor4);
}

article h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

article>p {
    margin: 15px 0px;

}

aside {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor0);
    color: var(--cor4);
}

aside h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

aside>p {
    margin: 15px 0px;

}

footer {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: var(--cor0);
    color: var(--cor4);
}

footer h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 10px;
}

footer>p {
    margin: 15px 0px;
}

footer a {
    padding: 5px;
    color: #ffffff;
    font-weight: bolder;
    text-decoration: none;
    border-radius: .5rem;margin-right: 5px;
    padding: 15px;
    transition: all .5s;
}

footer a:hover {
    color: var(--cor1);
    background-color: var(--cor0);
    padding: 15px;

}
footer>ul{
    display: flex;
}
li {
    list-style: none;
    margin-bottom: 1em;
    display: flex;
}
